html{
    background: #8f81df
}
.h1{
  display: flex;
  font-size: 50px;
  text-align: center;
  justify-content: center;
  position: relative;
}

.wrapper{
  position: relative;
  display: flex;
  gap: 20px;
}

.flex-container{
    display: flex;
    flex-grow: -1;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100px;
    height: 1000px;
    background-color:antiquewhite;
    border-radius: 20px;
  
    
}

.side-text{
  position: absolute;
  right: 120px;
  left: 120px;
  width: auto;
  top: 0;
  font-size: 25px;
}

.nauimg{
  display: block;
    position: center;
    right: 120px;
    left: 120px;
    top: 75px;
    width: 75px;
    height: 20px; 
    border-radius: 150px;
}
#nauimg {
  border-radius: 0%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}

#nauimg:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.Homepage-container{
    font-size: 50px;
    grid-template-columns: 4;
    grid-template-rows: 1;
    align-items: baseline;
    text-align: center;
}

.About-Me{
  font-size: 25px;
  align-items: center;
  text-align: center;
  width: auto;
}



.grid-container2{
    display: grid;
    place-items: center;
    align-content: space-around;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 0.5fr;
    grid-auto-rows: 75px;
    column-gap: 10px;
    row-gap: 10px;
    padding: 20px;
    width: 100%;
    height: auto;
    background-color: #e3d5fd
}


    .Education{
  font-size: 25px;
  display: subgrid;
  grid-column: span 2;
  justify-items: center;
  text-align: center;
  width: 500px;
  background-color:rgb(182, 153, 221)
}

.Experience{
  font-size: 25px;
  display: subgrid;
  grid-column: span 3;
  place-items: center;
  align-items: center;
  text-align: center;
  width: 500px;
  background-color:rgb(182, 153, 221)
}

.container{
  display: grid;
  position: absolute;
  grid-template-columns: minmax(500px, 1fr);
  justify-content: center;
  align-items: space-between;
  text-align: center;
  width: auto;
  height: 715px;
  font-size: 25px;
  background-color:rgb(182, 153, 221)
  
}

.grid-container3{
    display: grid;
    place-items: center;
    align-content: space-around;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr;
    grid-auto-rows: 75px;
    column-gap: 10px;
    row-gap: 10px;
    padding: 20px;
    width: 100%;
    height: auto;
    background-color: #e3d5fd
}

.Projects{
  font-size: 25px;
  display: subgrid;
  grid-column: span 5;
  justify-items: center;
  text-align: center;
  width: 500px;
  background-color:rgb(182, 153, 221)
}
.Resume{
 font-size: 20px;
 display: block;
  justify-items: center;
  text-align: center;
  width: auto;
  padding: 10px; 
  background-color:rgb(182, 153, 221)
}
.Resume:hover{
  background-color: #e3d5fd;
  font-size: 24px;
}

.images{
  display: flex;
  justify-content: space-around;
}
.image-container{
  height: 1080px;
  width: 800px;
  position: relative;
}
.image-container img{
  width: 300%;
  height: 300%;
}
.transition-image{
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
.image-container:hover{
  opacity: 0.5;
}

.fade::after{
  content:"";
  background:black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.fade:hover::after{
  opacity: 0.5;
}
@media only screen and (max-width: 600px) {
  .flex-container{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-around;
    flex-direction: row;
    background-color:antiquewhite;
    border-radius: 5px;
    padding: 10px;
  }
  .side-text{
    position: sticky;
    right: 10px;
    left: 10px;
    width: 500px;
    top: 0;
    font-size: 10px;
  }
   .nauimg{
    display: block;
    position: center;
    right: 5px;
    left: 5px;
    top: 60px;
    width: 40px;
    height: 10px; 
    border-radius: 100px;
   }
    .Homepage-container{
      font-size: 25px;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      align-items: baseline;
      text-align: center;
    }
    .About-Me{
      font-size: 10px;
      align-items: center;
      text-align: center;
      width: auto;
    }
}

.footer-content{
  display: flex;
  position: relative;
  flex-direction: column;
}